#app-root {
  height: 100%;
  width: 100%;
}

#app-container {
  height: 100%;
  display: flex;
  overflow: hidden;
}

#app-content {
  height: 100%;
  overflow-y: auto;
  width: 50%;
  flex: 1;
}

#app-bottombar {
  height: 100%;
  background-color: var(--black);
  overflow-y: auto;
  color: white;
  display: flex;
  flex: 1;
}
