#app-root,
#app-container {
  min-height: 100%;
  width: 100%;
}

#app-container {
  background-color: var(--indigo);
}

#app-content {
  background-color: var(--purple);
}

#app-bottombar {
  background-color: var(--black);
  color: white;
}
