html {
  font-size: var(--baseRem);
}

html {
  background-color: var(--blue);

  &:hover {
    background-color: var(--blue-darker);
  }
}

@media (--smallOnly) {
  body {
    background-color: --purple !important;
  }
}

